body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .navigation {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.logo {
  color: #000000;
  font-family: "Raleway", "Arial", Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo-1 {
  color: #2196f3;
}

.navigation__list {
  display: none;
  flex-wrap: nowrap;
  margin-left: 87px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__list .item:not(:last-child) {
  margin-right: 50px;
}
.navigation__list .current {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__list .navigation__link:hover,
.navigation__list .navigation__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  align-items: center;
  width: 161px;
  height: 16px;
}
.contacts:hover .contacts__list, .contacts:focus .contacts__list {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-icon {
  margin-right: 10px;
  fill: #757575;
}

.navigation__link {
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.item {
  position: relative;
}

.current::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.connection {
  display: none;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  margin-left: 96px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .connection {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    margin-right: 0px;
    margin-left: auto;
    font-size: 14px;
  }
  .connection .contacts:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__list {
  display: inline-flex;
  align-items: center;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__list:hover .connection__icons, .contacts__list:focus .connection__icons {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__icons {
  fill: #757575;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone_btn {
  background-color: #fff;
  border: none;
  margin-left: auto;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .smartphone_btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
}

.mobile__list {
  display: block;
}

.mobile__list > li:not(:last-child) {
  margin-bottom: 35px;
}

.mobile_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob__current {
  color: #2196f3;
}

.mobile-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile-btn:hover .modal-close, .mobile-btn:focus .modal-close {
  fill: #2196f3;
}

.mobile__nav {
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.contacts__list__phone {
  width: 296px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contacts__list__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.soc__mobile {
  display: flex;
  flex-wrap: nowrap;
}

.soc__mobile > li:not(:last-child) {
  margin-right: 20px;
}

.soc_mobile_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.soc_mobile_link::after {
  margin-left: 10px;
  content: " ";
  position: absolute;
  width: 0px;
  height: 22px;
  display: inline;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.slogan__section {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-bottom: auto;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .slogan__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img-2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img.jpg");
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header\ img\ tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img (13) (1).jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img (15)-2x.jpg");
  }
}

.slogan__title {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .slogan__title {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .slogan__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .slogan__title {
    width: 696px;
    font-size: 44px;
  }
}

.slogan__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216;
  text-align: center;
  border: #2196f3;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-button-list {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-button-list {
    justify-content: center;
  }
}

.portfolio-button {
  display: inline-block;
}

.portfolio-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
  width: 100%;
}

.images {
  width: 370px;
  margin-top: 30px;
}

.images {
  max-width: 450px;
  margin-top: 0;
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images:hover, .images:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .images {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .images {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .images {
    max-width: 370px;
  }
}

.images:hover .portfolio-img,
.images:focus .portfolio-img {
  transform: translateY(0);
  opacity: 1;
}

.img-margin {
  margin-top: 30px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  position: absolute;
  top: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  padding: 20px 24px;
  box-sizing: border-box;
  max-width: 450px;
  border-top-width: 0;
  border-top-style: solid;
  border-top-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}
@media screen and (min-width: 768px) {
  .box {
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    height: auto;
    max-width: 370px;
  }
}

.works {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.advntg-icon::before {
  display: block;
  content: " ";
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  outline: 1px, solid, #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .advntg-icon::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advntg-icon::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advntg-icon::before {
    width: 270px;
  }
}

.advntg-icon1::before {
  background-image: url("../images/antenna 1.svg");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.advntg-icon2::before {
  background-image: url("../images/clock 1.svg");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.advntg-icon3::before {
  background-image: url("../images/diagram 1.svg");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.advntg-icon4::before {
  background-image: url("../images/astronaut 1.svg");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.advntg-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .advntg-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advntg-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.studio-advantages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .studio-advantages {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .studio-advantages {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.studio-advantages > li:not(:last-child) {
  margin-bottom: 30px;
}

.advntg-list {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .advntg-list {
    width: 100%;
  }
  .advntg-list .advntg-list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advntg-list {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advntg-list {
    margin-bottom: 0px;
    width: 270px;
  }
  .advntg-list .studio-advantages .advntg-list:not(:last-child) {
    margin-right: 30px;
  }
}

.adventages-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .adventages-list {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .adventages-list {
    text-align: left;
  }
}

.advantages {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.img__section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .img__section {
    display: flex;
  }
}

.images-collection {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.images-collection .img-box:not(:last-child) {
  margin-right: 30px;
}

.img-box {
  position: relative;
}

.img-title {
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px;
  text-align: center;
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.stuff-container {
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  height: 168px;
  background-color: #ffffff;
  border-top-width: 0;
  width: 100%;
}

.stuff-section {
  background-color: #f5f4fa;
  width: 100%;
}

.stuff-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .stuff-list {
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  .stuff-list {
    gap: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .stuff-list {
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 50px;
  }
}

.stuff {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.stuff-img {
  width: 100%;
  margin-top: 30px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 480px) {
  .stuff-img {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .stuff-img {
    width: calc((100% - 60px) / 2);
    margin-top: 0px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.position {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.soc-list-item {
  width: 44px;
  height: 44px;
}
.soc-list-item:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover .svg-icon, .soc-link:focus .svg-icon {
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
  height: 20px;
}

.svg-icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .group__list {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .group__list {
    flex-wrap: nowrap;
    width: 100%;
    gap: 0px;
  }
  .group__list .group__item:not(:last-child) {
    margin-right: 30px;
  }
}

.group__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 210px;
  height: 94px;
  width: 210px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group__link:hover, .group__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group__link:hover .group__icon, .group__link:focus .group__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .group__link {
    width: 210px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .group__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .group__link {
    width: 170px;
  }
  .group__link .group__item:not(:last-child) {
    margin-right: 30px;
  }
}

.group__icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group__container {
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  align-items: center;
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

.logo-2 {
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .logo-2 {
    justify-content: left;
  }
}

.studio-address {
  margin-top: 20px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-addresses .list-address:not(:last-child) {
  margin-bottom: 9px;
}

.address-1 {
  color: #ffffff;
}

.list-address .address:hover,
.list-address .address:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .soc-title {
    text-align: left;
  }
}

.soc-footer-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-container {
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: inline-block;
    margin-left: auto;
    margin-right: 165px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
    margin-right: 70px;
  }
}

.footer-item {
  background-color: rgba(255, 255, 255, 0.1);
}

.svg-icon-1 {
  fill: #ffffff;
}

.adress-container {
  display: block;
  width: 100%;
  align-items: baseline;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .adress-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .adress-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-container-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-container-1 {
    margin-right: auto;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container-1 {
    margin-right: 93px;
    margin-left: 0px;
    margin-top: 12px;
    display: block;
    text-align: left;
  }
}

.telegram-link {
  width: 200px;
  height: 50px;
  text-align: center;
  align-items: center;
  padding-left: 28px;
  background-color: #2196f3;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-telegram {
  margin-left: 10px;
}

.footer-container-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-container-2 {
    margin-left: 0px;
    margin-top: 12px;
    display: block;
    width: 570px;
    text-align: left;
  }
}

.telegram {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .telegram {
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .telegram {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

.telegram-link {
  margin-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.email {
  margin-top: 20px;
  height: 50px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  outline: none;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email {
    display: flex;
    width: 358px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 100%;
  margin-left: auto;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-btn:hover .modal-close, .modal-btn:focus .modal-close {
  fill: #2196f3;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field label {
  margin-bottom: 4px;
}
.form-field input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-field input:focus, .form-field input:hover {
  border: 1px solid #2196f3;
  outline: none;
}
.form-field:focus-within > .modal-icon {
  fill: #2196f3;
}
.form-field:hover > .modal-icon {
  fill: #2196f3;
}

.form-field-comment {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field-comment textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-comment textarea:focus, .form-field-comment textarea:hover {
  border: 1px solid #2196f3;
  outline: none;
  cursor: pointer;
}
.form-field-comment label {
  margin-bottom: 4px;
}
.form-field-comment textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field-comment textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field-comment textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-placeholder {
  resize: none;
  width: auto;
  height: 120px;
  max-height: 250px;
}

.modal-form-1 {
  margin-top: 12px;
}

.form-btn {
  display: inline-block;
  border-radius: 4px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
  justify-content: center;
  border: #2196f3;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-icon {
  position: absolute;
  display: flex;
  top: 50%;
  margin-left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-input-group {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.modal-politic-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #757575;
}
.modal-politic-label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-politic-label {
    font-size: 14px;
  }
}

.modal-politic-check:checked + label::before {
  border: none;
  background-image: url("..//images/Vector (1).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2196f3;
  width: 16px;
  height: 15px;
}

.chackbox-link {
  font-family: "Roboto";
  margin-left: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #2196f3;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media screen and (min-width: 1200px) {
  .chackbox-link {
    font-size: 14px;
  }
}

.modal-close {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216;
  text-align: center;
  border: #2196f3;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-button-list {
  display: flex;
  align-items: center;
}

.portfolio-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}/*# sourceMappingURL=main.css.map */