.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  @media screen and (min-width: 480px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
