body {
  font-family: "Roboto", sans-serif;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
