.group__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (min-width: 480px) {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    width: 100%;
    gap: 0px;
    .group__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.group__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 210px;
  height: 94px;
  width: 210px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  margin-bottom: 30px;
  // margin-right: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & .group__icon {
      fill: #2196f3;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media screen and (min-width: 480px) {
    width: 210px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    .group__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.group__icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group__container {
  justify-content: center;
  align-items: center;
  gap: 30px;
}
