header {
  position: relative;
}
.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.logo {
  color: #000000;
  font-family: "Raleway", "Arial", Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.logo-1 {
  color: #2196f3;
}
.navigation__list {
  display: none;
  flex-wrap: nowrap;
  margin-left: 87px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  & .item:not(:last-child) {
    margin-right: 50px;
  }
  & .current {
    color: #2196f3;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.navigation__list .navigation__link:hover,
.navigation__list .navigation__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 161px;
  height: 16px;
  &:hover .contacts__list,
  &:focus .contacts__list {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.cont-icon {
  margin-right: 10px;
  fill: #757575;
}

.navigation__link {
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.item {
  position: relative;
}
.current::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.connection {
  display: none;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  margin-left: 96px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 10px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0px;
    margin-left: auto;
    font-size: 14px;
    gap: 0px;
    & .contacts:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.contacts__list {
  display: inline-flex;
  align-items: center;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .connection__icons,
  &:focus .connection__icons {
    fill: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.connection__icons {
  fill: #757575;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smartphone_btn {
  background-color: #fff;
  border: none;
  margin-left: auto;
  padding-left: 10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
}
.mobile__list {
  display: block;
}
.mobile__list > li:not(:last-child) {
  margin-bottom: 35px;
}
.mobile_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile_link:hover,
.mobile_link:focus {
  color: #2196f3;
}
.mob__current {
  color: #2196f3;
}
.mobile-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover .modal-close,
  &:focus .modal-close {
    fill: #2196f3;
  }
}
.mobile__nav {
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
// .contacts__list__phone {
//   width: 296px;
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 34px;
//   line-height: 40px;
//   letter-spacing: 0.02em;

//   color: #2196f3;
// }
.contacts__list__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}
.soc__mobile {
  display: flex;
  flex-wrap: nowrap;
}
.soc__mobile > li:not(:last-child) {
  margin-right: 20px;
}
.soc_mobile_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: #2196f3;
  // &::after {
  //   margin-left: 10px;
  //   content: " ";
  //   position: absolute;
  //   width: 0px;
  //   height: 22px;
  //   display: inline;
  //   border: 1px solid rgba(33, 33, 33, 0.2);
  // }
}
.soc__after::after {
  margin-left: 10px;
  content: " ";
  position: absolute;
  width: 0px;
  height: 22px;
  display: inline;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
