.images-collection {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.images-collection .img-box:not(:last-child) {
  margin-right: 30px;
}

.img-box {
  position: relative;
}
.img-title {
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px;
  text-align: center;
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
