.js-menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-menu-container.is-open {
  transform: translateX(0);
}
.mobile__list {
  display: block;
}
.mobile__list > li:not(:last-child) {
  margin-bottom: 35px;
}
.mobile_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile_link:hover,
.mobile_link:focus {
  color: #2196f3;
}
.mob__current {
  color: #2196f3;
}
.mobile-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover .modal-close,
  &:focus .modal-close {
    fill: #2196f3;
  }
}
.mobile__nav {
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.contacts__list__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}
.soc__mobile {
  display: flex;
  flex-wrap: nowrap;
}
.soc__mobile > li:not(:last-child) {
  margin-right: 20px;
}
.soc_mobile_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: #2196f3;
}
.soc__after::after {
  margin-left: 10px;
  content: " ";
  position: absolute;
  width: 0px;
  height: 22px;
  display: inline;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.contacts__list__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;

  color: #757575;
}
.contacts-mob {
  display: flex;
  margin-bottom: 32px;
  &:hover .contacts__list__phone,
  &:focus .contacts__list__phone {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover .contacts__list__mail,
  &:focus .contacts__list__mail {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
