.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    & .modal {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #0000001a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover .modal-close,
  &:focus .modal-close {
    fill: #2196f3;
  }
}
.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
  & label {
    margin-bottom: 4px;
  }
  & input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  & input:focus,
  & input:hover {
    border: 1px solid #2196f3;
    outline: none;
  }
  &:focus-within > .modal-icon {
    fill: #2196f3;
  }
  &:hover > .modal-icon {
    fill: #2196f3;
  }
}
.form-field-comment {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
  & textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & textarea:focus,
  & textarea:hover {
    border: 1px solid #2196f3;
    outline: none;
    cursor: pointer;
  }
  & label {
    margin-bottom: 4px;
  }
  & textarea::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.comment-placeholder {
  resize: none;
  width: auto;
  height: 120px;
  max-height: 250px;
}

.modal-form-1 {
  margin-top: 12px;
}

.form-btn {
  display: inline-block;
  border-radius: 4px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
  justify-content: center;

  border: #2196f3;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-icon {
  position: absolute;
  display: flex;
  top: 50%;
  margin-left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-input-group {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}
.modal-politic-label {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #757575;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    display: block;
    margin-right: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.modal-politic-check:checked + label::before {
  border: none;
  background-image: url("..//images/Vector\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2196f3;
  width: 16px;
  height: 15px;
}
.chackbox-link {
  font-family: "Roboto";
  margin-left: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
.modal-close {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
