.stuff-container {
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  height: 168px;
  background-color: #ffffff;
  border-top-width: 0;
  width: 100%;
}
.stuff-section {
  background-color: #f5f4fa;
  width: 100%;
}
.stuff-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 480px) {
    margin-top: 0px;
  }
  @media screen and (min-width: 768px) {
    gap: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 50px;
  }
}

.stuff {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.stuff-img {
  width: 100%;
  margin-top: 30px;
  @media screen and (min-width: 480px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-top: 0px;
    // margin-right: 30px;
  }
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
